body{
  margin: 0;
  color: rgb(255, 254, 254);
  background-image: url(https://www.letudiant.fr/uploads/mediatheque/ETU_ETU/9/4/2533594-bts-sio-services-informatiques-aux-organisations-original.jpg);
  font-family:"Arial";
  height: 100vh;
}


/* NAVBAR */
.nav{
  /* Centre*/
  display: flex;
  justify-content: right;
  align-items: center;
  /* End-Centre */
  list-style-type: none;
  margin: 0;
  background-color : rgb(39, 38, 38)
  }
  /* Réglage */
  .nav li{
    float: left !important;
  }
  .nav li a {
    display: block !important;
    color: white !important;
    text-align: center !important;
    padding: 14px 16px !important;
    text-decoration: none !important ;
  }
   /* End-Réglage */


.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 28rem;
}

.card {
  width: auto;
  color: #ffffffda;
  padding: 1.5rem;
  background-color: #202022;

  pointer-events: auto;

  transform: scale(1);
  opacity: 1;
  transition: all 150ms ease-in-out;

  display: flex;
  flex-direction: column;}

.card-title {
position: relative;
}
